<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href='../static/home.css'>
  </head>
  <body>
    <div class="container">
      <ul>
        <li><a href="/home">Home</a></li>
        
        <li><a href="mailto:sirivennelanarava@gmail.com">Contact Us</a></li>
      </ul>
    </div>
    <h2>HUMAN POSE ESTIMATION</h2>
    <div class="container2">
      <a href="/input" style="--clr: #03bcf4"><span>Get Started</span></a>
      <script
        type="module"
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
      ></script>
      <script
        nomodule
        src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
      ></script>
    </div>
  </body>
</html>
